body {
    font-family: 'Raleway', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
}


header {
    background-color: red;
}

a {
    height: 40px;
    width: 100px;
    border: 2px solid;
    border-color: red;
    flex-wrap: wrap;
}



.container-fluid button svg {
    height: 24px;
    width: 24px;
}

.input-header {
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 80%;
	max-width: 40%;
}

.nav-header {
	display: flex;
	width: 100%;
}

.nav-header button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.hero_area {
	display: flex;
	background-color: red;
}

.header_section {
	width: 100%;
}
div{
	flex: 1;
}

.navbar-brand {
	max-width: 10%;
	margin-right: 10px;
	margin-top: 10px;
}





.link_oeder {
	
}

.link_order {
	width: 5%;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}



.logo_order {
	display: block;
	margin: 0 auto;
	height: 24px;
	width: 24px;
	margin-top: 20%;
}

.email_footer button {
	background-color: red;
	height: 40px;
	width: 25%;
	border-radius: 10px;
}
.email_footer button h5 {
	display: block;
	margin: 0 auto;
}

.container-fluid {
	width: 90%;
	align-items: center;
	position: relative;
}

.sgv-logo {
	height: 48px;
	width: 87px;
}

.detail_footer {
	width: 49%;
}

.logo_bocongthuong {
	height: 3rem;
}
	.logo_bocongthuong a {
		border: none;
	}
	.logo_bocongthuong a img {
		width: 20%;
	}


.footer_selection {
	padding: 10px;
}

.footer_selection span {
	color: white;
}

.email_footer {
	width: 49%;
}
.email_footer h5 {
	text-align: center;
}

section {
	display: flex;
}



.email_footer form {
	width: 70%;
	display: block;
	margin: 0 auto;
}

.email_footer h5 {
	color: white;
}



.email_footer input {
	width: 70%;
	height: 30px;
	padding-top: 2px;
	border-radius: 10px;
}
.email_footer input::placeholder {
	margin-left: 10px; 
}

.footer_area2 {
	background-color: #f2f3f4;
	display: flex;
	align-content: center;
}

.footer_area3 {
	background-color: #27343e;
}

.footer_detail a{
	width: 80%;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	border: none;
	color: black;
}


